.gray {
    background-color: gray;
}

.red {
    background-color: red;
}

.graygradiant {
    background-image: linear-gradient(to bottom, lightgray, rgb(110, 110, 110));
    background-attachment: fixed;

}

.redgradiant {
    background-image: linear-gradient(to bottom, rgb(255, 134, 154), darkred);
    background-attachment: fixed;

}

.centerpage {
    margin: auto;
    width: 70%;
}

.centerelements {
    text-align: center;
}

ul {
    list-style-position: inside;
    margin-right: 10%;
}

button {
    width: 150px;
}